<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ASM_Registres_NET10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
  <userSettings>
    <ASM_Registres_NET10.Properties.Settings>
      <setting name="UltimoUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="UltimaContra" serializeAs="String">
        <value />
      </setting>
    </ASM_Registres_NET10.Properties.Settings>
  </userSettings>
</configuration>